/* Caracteristicas generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cocogose";
  color: #ffffff;
}

@font-face {
  font-family: "cocogose";
  src: url(../RECURSOS/Fuente-Cocogoose.ttf);
}

@font-face {
  font-family: "menlo";
  src: url(../RECURSOS/Fuente-Menlo.ttf);
}

body {
  background-color: #272727;
}

/* Comenzamos con la estetica del menu */

header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  /* background: linear-gradient(180deg, #272727 55.21%, rgba(39, 39, 39, 0) 88.02%); */
}

.container-menu {
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  width: 1268px;
  height: 41px;
  left: 25px;
  top: 36px;
}

.logos {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-marca img {
  width: 140px;
  position: absolute;
  left: 4.97%;
  right: 82.89%;
  top: 12.2%;
  bottom: 14.63%;
}

.logo-perfil img {
  width: 28px;
  position: absolute;
  left: 95.03%;
  right: 2.6%;
  top: 12.2%;
  bottom: 14.63%;
}

.menu {
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
  position: absolute;
  width: 501px;
  height: 26px;
  left: 627px;
  top: 14px;
}

.menu ul li {
  list-style: none;
  margin-left: 32px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

/* Seguimos con la edicion del cover */

.container-cover {
  width: 100%;
  height: 100vh;
}

.cover {
  max-width: 1400px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-cover .text {
  max-width: 370px;
}

.slider{
  list-style: none;
}

/* Espesificaciones noticia #1 */

.container-cover h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  text-shadow: 8px 4px 20px #000000;
  position: absolute;
  left: 14.11%;
  right: 37.78%;
  top: 31.04%;
  bottom: 21.29%;
}

.container-cover h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-family: "menlo";
  position: absolute;
  left: 13.88%;
  right: 66.39%;
  top: 64.7%;
  bottom: 31.87%;
}

.container-cover .imagen-cover img {
  width: 614px;
  position: absolute;
  left: 43.28%;
  right: 10.17%;
  top: 24.63%;
  bottom: 12.9%;
  z-index: -1;
  filter: drop-shadow(-4px 8px 40px rgba(0, 0, 0, 0.7));
}

.container-cover .numeral-cover img {
  width: 278px;
  position: absolute;
  left: 48.64%;
  right: 30.23%;
  top: 35.03%;
  bottom: 15.64%;
  z-index: -2;
  opacity: 50%;
  animation: move-vector 3s linear infinite;
}


.container-cover .eslash-cover img {
  width: 233px;
  position: absolute;
  left: 69.71%;
  right: 12.63%;
  top: 15.38%;
  bottom: 35.28%;
  z-index: -2;
  opacity: 50%;
  animation: move-vector 3s linear infinite;
  animation-delay: 2s, 4ms;
}

@keyframes move-vector {
  0% {
    transform: translatey(15px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(15px);
  }
}

/* Elementos estaticos de la seccion inicio */

.container-cover button  {
  padding: 9px 4px;
  border: none;
  font-size: 17px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 5px -5px 20px rgba(76, 76, 79, 0.7), -5px 5px 20px #000000;
  background: rgba(50, 50, 54, 0.01);
  position: absolute;
  left: 22.64%;
  right: 62.44%;
  top: 81.62%;
  bottom: 11.53%;
  z-index: 2;
  border-style: none;
}

.container-cover button a{
  text-decoration: none;
  color: #ffffff5e;
}

.container-cover input:focus {
  /* box-shadow: 5px -5px 10px rgba(76, 76, 79, 0.4),
    -5px 5px 10px rgba(0, 0, 0, 0.5);
  color: #949498a2; */
  animation: shadow .15s ease-in-out;
}

@keyframes shadow {
  0% { 
    box-shadow: 
    inset 5px 5px 10px #3FB7A5,
    inset 5px 5px 10px #949498;
  }
  100% { 
    box-shadow:none;
  }
}

.frames {
  display: flex;
  list-style: none;
  z-index: 999;
  position: absolute;
left: 47.19%;
right: 47.13%;
top: 92.58%;
bottom: 5.6%;
}
.frames li{
  display: inline-block;
  margin: 10px;
}
.frames li a{
  display: inline-block;
  height: 12px;
width: 12px;
border-radius: 2px;
  text-decoration: none;
  background-color: #ffffff;
  
}
.frames li a:is(:hover:focus){
  background-color: #3FB7A5;
}

/* damos el estilo a la seccion new */

.love{
width: 100%;
height: 100vh;
display:flex;
align-items: center;
align-content: center;
justify-content: center;

}

.container-news{
  display: grid;
  grid-template-columns: repeat(21/1fr);
  grid-template-rows: repeat(13/1fr); 
  gap: 23px;
  text-align: center;
   width: 1250px;
  height: 498px;
  /* left: 159px;
  top: 155px;  */
margin: auto;
}
.style-news{
  border-radius: 6px;
  box-shadow: 5px -5px 20px #4C4C4F, -5px 5px 20px #000000;
  grid-column: auto;
}
.new1{
  grid-column: 1/4;
  grid-row: 1/5;
  z-index: 1;
  background-color: #00CFB0;
}
.new2{
  grid-column: 4/10;
  grid-row: 1/5;
  z-index: 0;
  background-color: #323236;
}
.new3{
  grid-column: 1/10;
  grid-row: 5/10;
  z-index: 2;
  background-color: #FFCD05;
}
.new4{
  grid-column: 1/7;
  grid-row: 10/14;
  z-index: 2;
  background-color: #0057B2;
}   
.new5{
  grid-column: 7/10;
  grid-row: 10/14;
  z-index: 2;
  background-color: #00CFB0;
}   
.new6{
  grid-column: 10/18;
  grid-row: 1/6;
  z-index: 3;
  background-color: #FFCD05;
}
.new7{
  grid-column: 10/14;
  grid-row: 6/14;
  z-index: 3;
  background-color: #323236;
}
.new8{
  grid-column: 14/18;
  grid-row: 6/10;
  z-index: 2;
  background-color: #0057B2;
}   
.new9{
  grid-column: 14/18;
  grid-row: 10/14;
  z-index: 2;
  background-color: #00CFB0;
}   
.new10{
  grid-column: 18/23;
  grid-row: 1/14;
  z-index: 3;
  background-color: #323236;
}