* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'cocogose';
  color: #ffffff;
}

@font-face {
  font-family: 'cocogose';
  src: url(../RECURSOS/Fuente-Cocogoose.ttf);
}

@font-face {
  font-family: 'menlo';
  src: url(../RECURSOS/Fuente-Menlo.ttf);
}

body{
  background-color: #272727;
}

header{
  width: 100%;
  height: 80px;
  /* margin-top: 16px; */
  position: fixed;
  z-index: 1;
}

.container-menu{
  /* max-width: ; */
  height: 100%;
  margin: auto;
  display: flex;
  
  position: absolute;
width: 1268px;
height: 41px;
left: 25px;
top: 36px;
}

.logos{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-marca img{
  width: 140px;
  position: absolute;
left: 4.97%;
right: 82.89%;
top: 12.2%;
bottom: 14.63%;
}

.logo-perfil img{
  width: 28px;
  position: absolute;
left: 95.03%;
right: 2.6%;
top: 12.2%;
bottom: 14.63%;
}

.menu{
  display: flex;
  align-items: center;
}
.menu ul{
  display: flex;
  position: absolute;
width: 501px;
height: 26px;
left: 627px;
top: 14px;

}

.menu ul li{
  list-style: none;
  margin-left: 32px;
}

.menu ul li a{
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

/* STYLE COVER */

.container-cover{
  width: 100%;
  height: 630px;
}

.cover{
  max-width: 1400px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-cover .text{
  max-width: 370px;

}

.container-cover h1{
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  text-shadow: 8px 4px 20px #000000;
  position: absolute;
left: 14.11%;
right: 37.78%;
top: 31.04%;
bottom: 21.29%;
}

.container-cover h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-family: 'menlo';
  position: absolute;
left: 13.88%;
right: 66.39%;
top: 64.7%;
bottom: 31.87%;
}

.container-cover .text input{
  padding: 9px 4px;
  border: none;
  font-size: 17px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 5px -5px 20px rgba(76, 76, 79, 0.7), -5px 5px 20px #000000;
  background: rgba(50, 50, 54, 0.01);
  color: #949498;
  position: absolute;
left: 22.64%;
right: 62.44%;
top: 81.62%;
bottom: 11.53%;
}

.container-cover .text input:hover{
  box-shadow: 5px -5px 10px rgba(76, 76, 79, 0.4), -5px 5px 10px rgba(0, 0, 0, 0.5);
  color: #949498a2;
} 

.container-cover .imagen-cover img{
  width: 614px;
  position: absolute;
left: 43.28%;
right: 10.17%;
top: 24.63%;
bottom: 12.9%;
z-index: -1;
filter: drop-shadow(-4px 8px 40px rgba(0, 0, 0, 0.7));
}

.container-cover .numeral-cover img{
  width: 278px;
  position: absolute;
left: 48.64%;
right: 30.23%;
top: 35.03%;
bottom: 15.64%;
z-index: -2;
opacity:50%;
animation: move-vector 3s linear infinite;
}

@keyframes move-vector {
  0%{
    transform: translatey(15px);
  }
  50%{
    transform: translatey(0px);
  }
  100%{
    transform: translatey(15px);
  }
  
}

.container-cover .eslash-cover img{
  width: 233px;
  position: absolute;
left: 69.71%;
right: 12.63%;
top: 15.38%;
bottom: 35.28%;
z-index: -2;
opacity:50%;
animation: move-vector 3s linear infinite ;
animation-delay: 2s, 4ms
}

